<script setup>
import { ref } from 'vue'
const name = ref('')
</script>

<template>
  <input v-model='name' placeholder='Seu Nome' />
  <br>
  Suas iniciais são: <b>{{ make_initials(name) }}</b>
</template>

<script>
export default {
  name: 'MakeInitials',
  props: {}
}

function make_initials(name) {
  let got_upper = false
  let initials = ''
  for (let word of name.split(' ')) {
    if (word == '') {
      break
    }
    got_upper |= (word[0] == word[0].toUpperCase())
    initials += word[0]
  }
  if (!got_upper) {
    return initials.toUpperCase() || '?'
  }
  let new_initials = ''
  for (let char of initials) {
    if (char == char.toUpperCase()) {
      new_initials += char
    }
  }
  return new_initials
}
</script>
