<template>
  <MakeInitials />
</template>

<script>
import MakeInitials from './components/MakeInitials.vue'

export default {
  name: 'App',
  components: {
    MakeInitials
  }
}
</script>

<style>
#app {
  text-align: center;
  margin-top: 60px;
}
</style>
